# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python/
build/
dist/

# Virtual environment
venv/
env/
*.egg-info/
.venv/

# Django
*.log
*.pot
*.mo
*.bak
local_settings.py
media/

# IDEs
.idea/
.vscode/
*.swp

# Operating System files
.DS_Store
Thumbs.db 